<!DOCTYPE html>
<html>

  <head>
    <!--<script data-require="angular.js@*" data-semver="1.2.10" src="http://code.angularjs.org/1.2.10/angular.js"></script>-->
    <script data-require="angular.js@*" data-semver="1.2.13" src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
  </head>

  <body>
    <div data-ng-app="indexDBSample" data-ng-controller="TodoController as vm">
      <table>
        <tr data-ng-repeat="todo in vm.todos">
          <td>{{todo.text}}</td>
          <td>[<a href="#" data-ng-click="vm.deleteTodo(todo.id)">X</a>]</td>
        </tr>
      </table>
      <br />
      <input type="text" data-ng-model="vm.todoText" name="todo" placeholder="What's pending?" style="width: 200px;" />
      <input type="button" value="Add" data-ng-click="vm.addTodo()" />
      <input type="button" value="Refresh" data-ng-click="vm.refreshList()" />
    </div>
    
      
      
    <button type="button" onclick="maximumAge0()">maximumAge: 0</button>
    <button type="button" onclick="maximumAgeNo()">maximumAge not set</button>    
       
  </body>

</html>
