<!DOCTYPE html>
<html ng-app="testApp">
<head>
	<title>Test AngularJS app</title>
    <!--IndexedDBShim allows to use IndexedDB in older browsers without native IndexedDB support, but with WebSQL available-->
    <script type="text/javascript" src="libs/IndexedDBShim.min.js"></script>
    <script type="text/javascript" src="libs/angular.js"></script>
	<script src="js/controllers.js"></script>
</head>
	
<body ng-controller="StartCtrl">

    
    
    
    
    Search: <input ng-model="userQuery">
	
	<select ng-model="orderChoice">
		<option value="title">Alphabetical</option>
		<option value="createdTimeStamp">Creation date</option>
	</select>
	
	<select ng-model="language">
		<option value="English">English</option>
		<option value="Russian">Russian</option>
	</select>
    
    
    
    <ul>
        <!-- Single activity line -->
		<li ng-repeat="activity in activities | filter:userQuery | filter:language | filter:filterFn |  orderBy:orderChoice">			
			<span ng-hide="editing" ng-click="editing = true">{{activity['title'][activity.langcode]}} | {{activity.langcode}}</span>
            <button ng-hide="editing" ng-click="deleteEntry(activity)">Del</button>
            
            <form ng-show="editing" ng-submit="editing = false; editEntry(activity)">
				<label>Title:</label>
				<input type="text" ng-model="activity.title" placeholder="Title" ng-required/>
				<label>Language:</label>
				<input type="text" ng-model="activity.language" placeholder="Language" ng-required/>
                <label>Langcode:</label>
				<input type="text" ng-model="activity.langcode" placeholder="Langcode" ng-required/>
				<br/>
				<button class="btn" type="submit">Save</button>
			</form>
		</li>
	</ul>
    
    
    
    <form ng-submit="addEntry(activity)">
        <label>Title:</label>
        <input type="text" ng-model="activity.title" placeholder="Title" ng-required/>
        <select ng-model="activity.langcode">
            <option value="en">English</option>
            <option value="ru">Russian</option>
        </select>
        <br/>
        <button class="btn" type="submit">Add</button>
    </form>


     
</body>
</html>